Debug/
Release/
x64/
PPTT/Debug
PPTT/Release
PPTT/x64
PPTT.sdf
PPTT.opensdf
OpenCL/PPTT.exe
OpenCL/PPTT.iobj
OpenCL/PPTT.ipdb
OpenCL/PPTT.pdb
ResultsAbsorbedEnergyTime0.txt
ResultsAbsorbedEnergyTime1.txt
ResultsAbsorbedEnergyTime2.txt
ResultsAbsorbedEnergyTime3.txt
ResultsAbsorbedEnergyTime4.txt
ResultsAbsorbedEnergyTime5.txt
